<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="w3-row-padding w3-margin-top" th:fragment="list(books)">
            
            <div class="w3-col s12 m4 l3" th:each="b : ${books}">
                <a href="book.html" th:href="@{/book(bookId=${b.id})}" class="w3-card-4" style="display:block">
                    <img src="http://via.placeholder.com/300x300" style="width:100%"/>
                    <div class="w3-container">
                        <h3 th:text="${b.title}">La Geometria Mar</h3>
                        <p th:text="${b.author}">Herodes Palomo Chavez</p>
                    </div>
                </a>
            </div>

        </div>

    </body>
</html>
