<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bookshelf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/> 
    </head>
    <body>
        
        <div class="w3-bar w3-black" th:fragment="main">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="mybooks.html" class="w3-bar-item w3-button">My Books</a>
            <a href="/profile" class="w3-bar-item w3-button w3-right" th:if="${currentUser == null}">Log in</a>
            <a href="/logout" class="w3-bar-item w3-button w3-right" th:if="${currentUser != null}">Log out</a>
            <a href="/profile" class="w3-bar-item w3-button w3-right" th:if="${currentUser != null}" th:text="${currentUser.fullName}">User Name</a>
        </div>
        
    </body>
</html>
