<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bookshelf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>   
    </head>
    <body>
    
        <div th:replace="fragments/menu :: main"></div>

        <div class="w3-container w3-margin">
            <div class="w3-row-padding">
                <h1 class="w3-col s12">La Geometria Mar</h1>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col l4 m6 s12">
                    <img src="http://via.placeholder.com/300x300" style="width:100%"/>
                </div>
                <div class="w3-col l8 m6 s12">
                    <table class="w3-table w3-bordered">
                        <tr>
                            <th style="width:50px">Author</th>
                            <td>Herodes Palomo Chavez</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>99-7854-060-1</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>1989</td>
                        </tr>
                    </table>
                    <form action="mybooks.html">
                        <button class="w3-button w3-right w3-red">Order</button>
                    </form>
                </div>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col s12">
                    <h3>Description:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante dolor, fermentum sed ipsum vitae, maximus consequat quam. Nulla nisi enim, ullamcorper a euismod pharetra, bibendum in nunc. Phasellus ut faucibus ligula, vitae dignissim purus. Duis sit amet lectus eros. Praesent in pharetra metus. Sed at ante ullamcorper, dignissim justo id, facilisis ex. Aenean bibendum posuere diam ac mollis. Pellentesque a ex fringilla, vulputate nisl eu, suscipit odio. Aliquam bibendum pellentesque pretium. Mauris consectetur sollicitudin elementum. In id sapien quam. Morbi ultrices dolor quis dignissim faucibus. Nullam id venenatis risus, vitae rutrum libero. Ut ut tempus felis.</p>
                    <p>Cras libero neque, commodo pretium ante at, pulvinar venenatis arcu. Curabitur efficitur sem et quam ornare, ut tincidunt tellus bibendum. Nulla hendrerit purus magna. Donec velit tellus, lacinia sed tellus quis, vestibulum elementum tortor. Nulla facilisi. Proin sem sapien, varius sit amet aliquet et, sagittis et massa. Morbi molestie velit et luctus venenatis. Fusce tempor ante dictum enim auctor scelerisque. Sed sodales eros at mattis varius. In a dolor nec nibh consectetur convallis non et ex. Phasellus egestas justo at sapien tempus, quis maximus leo tincidunt. Sed pulvinar eu ex nec semper. Fusce eget nunc bibendum, suscipit orci ac, iaculis ipsum.</p>
                    <p>Duis in pretium urna, et venenatis ipsum. Integer est leo, lacinia ut elit ut, aliquet venenatis velit. Integer ac turpis quis magna lacinia tincidunt sit amet a dui. Nam elit lacus, suscipit id maximus eu, molestie ut quam. Cras posuere tortor ut lorem porttitor varius. Proin ut placerat dolor, ut finibus sapien. Cras laoreet iaculis sem a tempor.</p>
                </div>
            </div>
        </div>
    </body>
</html>
