<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bookshelf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>   
    </head>
    <body>
    
        <div th:replace="fragments/menu :: main"></div>

        <div class="w3-container w3-margin">
            <a hrem="#" th:href="@{/edit-book(bookId=${book.id})}">edit</a>
            <div class="w3-row-padding">
                <h1 class="w3-col s12" th:text="${book.title}">La Geometria Mar</h1>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col l4 m6 s12">
                    <img src="http://via.placeholder.com/300x300" style="width:100%"/>
                </div>
                <div class="w3-col l8 m6 s12">
                    <table class="w3-table w3-bordered">
                        <tr>
                            <th style="width:50px">Author</th>
                            <td th:text="${book.author}">Herodes Palomo Chavez</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td th:text="${book.isbn}">99-7854-060-1</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td th:text="${book.year}">1989</td>
                        </tr>
                    </table>
                    <form action="mybooks.html">
                        <button class="w3-button w3-right w3-red">Order</button>
                    </form>
                </div>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col s12">
                    <h3>Description:</h3>
                    <p th:text="${book.description}">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </body>
</html>
